<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Инвормация о {{ post.title }}</title>
</head>
<body>
     <img src="{{ post.image.url }}" width="200px" height="150px">
            <p>Описание поста:{{ post.descriptions }}</p>
            <p>Автор: {{ post.user }} </p>
            <p>Дата публикации поста: {{ post.date }}</p>
            {% if post.user == user %}
                <a href="{% url 'change' post.id %}">
                    <h2>Изменить пост</h2>
                </a>
            {% endif %}
    </form>
            <h3><a href="{% url 'home' %}">На главную</a></h3>
     {% for coment in coments %}
         <form action="{% url 'delcoment' coment.id %}" method="post">
            {% csrf_token %}
            <br><p>Коментарий:{{ coment }}</p>
            <p>Автор коментария:{{ coment.user }}</p>
            {% if user == coment.user %}
                <button type="submit">Удалить коментарий</button>
            {% endif %}
         </form>
     {% endfor %}
     {% if user.is_authenticated %}
         <form action="{% url 'addbcomment' post.id %}" method="post">
            {% csrf_token %}
            {{ formcomit }}
         <button type="submit">Оставить коментарий</button>
     </form>
    {% endif %}
</body>
</html>